.child-component{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
}
.child-component:first-child{
    margin-right: 16%;
}
.container{
    height: 100vh;
}
.sub-container{
    padding: 152px 0;
}